@import "../../../../../styles.scss";
.content{
    margin-top:2vh;
    width:90%; 
    margin-left:auto;
    margin-right:auto;   
}
section{    
    border-top:1px solid $primary-color;
    width:100%;    
    height: 25vh;
    max-width: 100%;
    overflow: auto;
}
table {    
    width: 100%;
}  
.mat-header-cell {
    background-color: white;        
}
.mat-header-row{
    min-height:4vh;
    font-family: Liberation-Sans-bold;
}
.mat-row{
    min-height: 3vh;
}
h1{
    font-size: 2em;
    margin: 0;
    font-family: Liberation-Sans-regular;
    font-weight: 100;
    position:sticky;
}