@import "../../../../../styles.scss";
.content{
    margin-top:2vh;
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
section{
    border-top:1px solid $primary-color;
    width:100%;
    height: 25vh;
    max-width: 100%;
    overflow: auto;
}
table {
    width: 100%;
    color: $primary-color;
}
h1{
    font-size: 2em;
    margin: 0;
    font-family: Liberation-Sans-regular;
    font-weight: 100;
    position:sticky;
}
.button{
    margin-right: 1vw;
    width:6vw;
    height:100%;
    border: none;
    background-color: $primary-color;
    color:white;
}
