<div class="reg-objeto-container">
    <h2 mat-dialog-title>Registra tu objeto</h2>
    <form #registrarObjetoForm="ngForm" (ngSubmit)="onsubmit(registrarObjetoForm)">
        <div class="img-selector">        
            <input type="file" (change)="onImageUpload($event)" ngModel name="imagen" required #imagen="ngModel" accept="image/png, image/gif, image/jpeg" />
            <img [src]="imageTemp" *ngIf="uploadedImage != null" [ngClass]="{imageconfig:uploadedImage}"/>
        </div>
        <div class="input-container-0">
            <label class="label">Nombre</label>
            <input type="text" ngModel name="nombre" required #nombre="ngModel"/>
        </div>
        <div class="input-container-1">
            <label class="label">Categoría</label>
            <select #categoriaSelect>
                <option class="option" *ngFor="let categoria of categorias" [value]="categoria.id">
                  {{categoria.descripcion}}
                </option>
            </select>
        </div>
        <div class="input-container-2">
            <label class="label">Peso (Kg)</label>
            <input type="number" ngModel name="peso" required #peso="ngModel" min="0"/>
        </div>
        <div class="input-container-3">
            <label class="label">Valor</label>
            <input type="number" ngModel name="valor" required #valor="ngModel" min="0"/>
        </div>
        <div class="input-container-4">
            <label class="label">Altura</label>
            <input type="number" ngModel name="altura" required #altura="ngModel" min="0"/>
        </div>
        <div class="input-container-5">
            <label class="label">Anchura</label>
            <input type="number" ngModel name="anchura" required #anchura="ngModel" min="0"/>
        </div>
        <div class="input-container-6">
            <label class="label">Longitud</label>
            <input type="number" ngModel name="longitud" required #longitud="ngModel" min="0"/>
        </div>
        <div class="message-container">
            <span *ngIf="!validTrial">Revise los campos y que haya cargado un archivo</span>
        </div>
        <div class="button-container">
            <button class="negative" (click)="cerrarModal()">Cancelar</button>
            <button class="aceptar">Registrar</button>
        </div>
    </form>    
</div>