@import "../../../../styles.scss";

.centered{
  margin-top:-5vh;
  width: 70%;
  text-align: center;
  font-size: 2em;
}

 .title{
  font-size: xx-large;
 }

.centered p {
  line-height: initial;
  text-align: justify;
  padding-top: 3vh;
}

@media screen and (max-width: 800px){
  .centered{
    position: absolute;
    margin-top: 50%;
    max-height: 50%;
    padding-bottom: 20%;
  }
}