@import "../../../../../styles.scss";
table {
    width: 100%;            
}
section{
    padding-top: 4vh;
    margin-right: auto;
    margin-left: auto;
    width:90%;
}
.header{
    border-top: 1px solid $primary-color;
    font-family: Liberation-Sans-bold;
}
caption{
    position:sticky;
    font-size:2em;
    text-align: left;
    padding-bottom: 1vh;
    font-family: Liberation-Sans-regular;
}
.filas{
    overflow:auto;
    height:20vh;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
}
td{
    text-align: center;
}
th, td{
    width:10%;
}
.id{
    width:2%;
}