@use '@angular/material' as mat;

@include mat.core();

$truequeandofront-primary: mat.define-palette(mat.$indigo-palette);
$truequeandofront-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$truequeandofront-warn: mat.define-palette(mat.$red-palette);

$truequeandofront-theme: mat.define-light-theme((color: (primary: $truequeandofront-primary,
        accent: $truequeandofront-accent,
        warn: $truequeandofront-warn,
      )));

@include mat.all-component-themes($truequeandofront-theme);

$primary-color: rgb(195, 0, 255);
$button-hover-color: rgb(164, 0, 214);
$selected-color: rgb(115, 0, 150);
$button-border: 2px solid black;
$button-border-radius: 15px;

@font-face {
  font-family: Liberation-Sans-regular;
  src: url(assets/LiberationSans-Regular.ttf);
}

@font-face {
  font-family: Liberation-Sans-bold;
  src: url(assets/LiberationSans-Bold.ttf);
}

@font-face {
  font-family: Liberation-Sans-bolditalic;
  src: url(assets/LiberationSans-BoldItalic.ttf);
}

@font-face {
  font-family: Liberation-Sans-italic;
  src: url(assets/LiberationSans-Italic.ttf);
}

.title {
  font-family: Liberation-Sans-bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: Liberation-Sans-regular;
  color: $primary-color;
}

.centered {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  background-color: white;
  width: 14vw;
  height: 7vh;
  margin-right: 2vw;
  cursor: pointer;
  font-size: 0.8em;
  color: $primary-color;
  border-radius: $button-border-radius;
  cursor: pointer;
}

input {
  border-radius: $button-border-radius;
}

select {
  border-radius: $button-border-radius;
}

.positive {
  background-color: $primary-color;
  color: white;
  margin-right: 0;
}

.wrong {
  border: 2px solid red;
}

.error-text {
  color: red;
}

.two-row-input {
  width: 100%;
}

.two-row-input input {
  width: 95%;
}

.two-row-input select {
  width: 98%;
}

.two-row-input label {
  width: 95%;
}

.two-row-input-column {
  display: inline-block;
  width: 50%;
}

#container {
  display: grid;
  grid-template-columns: 20vw 0vw 80vw;
}

.mat-header-cell {
  background-color: white;
  color: inherit;
  font-size: 3vh;
}

.mat-header-row {
  min-height: 4vh;
  font-family: Liberation-Sans-bold;
}

.mat-row {
  min-height: 3vh;
}

.mat-cell {
  color: inherit;
  font-size: 2vh;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

section::-webkit-scrollbar {
  width: 10px;
  background: rgb(243, 236, 236);
}

section::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}

section::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}

section::-webkit-scrollbar-thumb:active {
  background: purple;
}

.mat-dialog-container{
  border-radius: 10px;
}

.mat-dialog-container::-webkit-scrollbar {
  width: 10px;
  background: rgb(243, 236, 236);
  border-radius: 10px;
}

.mat-dialog-container::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}

.mat-dialog-container::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}

.mat-dialog-container::-webkit-scrollbar-thumb:active {
  background: purple;
}
.mat-slider-thumb{    
  background-color: $primary-color;
}