@import "../../../../../styles.scss";
.content{
    margin-top:3vh;
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
section{
    border-top:1px solid $primary-color;
    width:100%;
    height: 20vh;
    max-width: 100%;
    overflow: auto;
}
h1{
    margin: 0;
    position:sticky;
    font-size:2em;
    text-align: left;
    padding-bottom: 1vh;
    font-family: Liberation-Sans-regular;
    font-weight: 100;
}
table {
    width: 100%;
    color: $primary-color;
}
.button{
    margin-right: 1vw;
    width:6vw;
    height:100%;
    border: none;
    background-color: $primary-color;
    color:white;
}
